/*contenu step4 summary*/
#STEP4{
    margin-left: 330px;
    margin-top: -450px;
}
.b4{
    background-color:#37E0FF ;
}
.th{
    margin-top: -10px;
    margin-bottom: 20px;
}
p{
    margin-bottom: 0px;
}